/* 
Should be optimized for use with Readable & Default White Bootstrap Themes, possible to use with others.
*/

/* .container {
  background-color: #322525; 
  color: #ffffff;
  background-image: url('image.jpg');
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #E4CCC4;
  background-color: #260E06;
  border: 1px dotted #C64C24;
  border-bottom-color: transparent;
  cursor: default;
}

a {
  color: #FFA385;
  text-decoration: bold;
}
*/
.page-title span {
  display:none;
}
.page-title:after {
  content:'Style Simulator';
}
.contact-title span {
  display:none;
}
.contact-title:after {
  content:'Contact the Style Simulator Developer';
}
.footer:after {
  font-style:italic;
  content:'Sprites and CSS styling by github/airpants/swarmsim-styling, sprite art created with Piskelapp.com';
}
.desc-icon-resource {
  background-size:200px 200px;
  height:200px;width:200px;
  border-radius: 12px;
}
.tab-icon-resource {
  background-size:40px 40px;
  height:40px;width:40px;
  margin-left:-10px;margin-top:-10px;
  border-radius: 5px;
}
.list-icon-resource {
  background-size:20px 20px;
  height:20px;width:20px;
  border-radius: 4px;
}
.list-icon-resource, .tab-icon-resource, .desc-icon-resource {
  background-repeat:no-repeat;
  float:left;
  margin-right:0.5em;
}
.prev-icon-resource, .next-icon-resource {
  background-repeat:no-repeat;
  background-size:20px 20px;
  height:20px;width:20px;
  display:inline-block;
  border-radius: 5px;
}

.icon-meat {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/392cb902-f4e3-11e4-a783-39996fd08e19.gif");
}
.icon-larva {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/d6d6b65c-f4d7-11e4-853b-39996fd08e19.gif");
}
.icon-territory {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-energy {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutagen {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
/* special case: territory chart obscures float:left'ed image, so give it its own line */
.desc-icon-resource.icon-territory {
  float:none;
  display:inline-block;
}

.icon-drone {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/90310b30-f4dc-11e4-9073-39996fd08e19.gif");
}
.icon-queen {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/6f0084cf-f4e7-11e4-a57f-39996fd08e19.gif");
}
.icon-nest {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/cb387e3d-f4e8-11e4-b34b-39996fd08e19.gif");
}
.icon-greaterqueen {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/b1fb5663-f4e9-11e4-8dda-39996fd08e19.gif");
}
.icon-hive {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/43d11b54-f4eb-11e4-b3e4-39996fd08e19.gif");
}
.icon-hivequeen {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-empress {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-prophet {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-goddess { /* hive neuron */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-pantheon { /* neural cluster */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-pantheon2 { /* hive network */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-pantheon3 { /* lesser hive mind */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-pantheon4 { /* hive mind */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-pantheon5 { /* arch-mind */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind2 {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind3 {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind4 {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind5 {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-overmind6 {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}

.icon-cocoon {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-achievements {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}

.icon-swarmling {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-stinger {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-spider {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mosquito {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-locust {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-roach {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-giantspider {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-centipede {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-wasp {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-devourer {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-goon {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}

.icon-mutanthatchery {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantbat {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantclone {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantswarmwarp {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutanteach { /* meta-mutation */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantfreq {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantnexus { /* lepidoptera mutation */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantarmy { /* territory mutation */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantmeat {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-mutantrush {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gifg");
}
.icon-premutagen { /* inactive mutagen */
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}

.icon-nexus {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-nightbug {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-moth {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
.icon-bat {
  background-image: url("http://piskel-imgstore-b.appspot.com/img/ce0738a8-f4e1-11e4-9f4e-39996fd08e19.gif");
}
